@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: var(--font-jetbrains-mono);
  --font-sans: var(--font-inter);
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  cursor: none; /* We will implement a custom cursor later */
}

/* Hide scrollbar completely */
::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font-mono { font-family: var(--font-mono); }
.font-sans { font-family: var(--font-sans); }